/* updates.css v1.0 */

/* ==========================================================================

   Updates CSS Stylesheet.

   This stylesheet contains the updates we will make. Usually in template.css
   or addons.css we'll just add tweaks however this will contains the future
   updates of this template. Do not change nothing as it will be constantly updated.

   ========================================================================== */


/* updates.css v1.1 */

 /* Hover thumbs in lander page */
.simple-boxes {position: relative; z-index:1;}
.thumb-hover-pageshot {position: absolute; top: 0; -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); right: 20px; pointer-events: none; transition: all .2s ease-in-out; opacity: 0; visibility: hidden; z-index: 2;}
.thumb-hover-pageshot.shot1 {right: 80px;}
.thumb-hover-pageshot.shot2 {z-index:1; background-position-y:-400px; right: 20px; transition-delay: .1s; }
.thumb-hover-pageshot.shot1.switched {right: 20px;}
.thumb-hover-pageshot.shot2.switched {right: 80px; }
.simple-boxes > a:hover ~ .thumb-hover-pageshot {opacity: 1; visibility: visible; -webkit-transform: translate3d(0, -50px, 0); transform: translate3d(0, -50px, 0); }
.simple-boxes > a:hover ~ .thumb-hover-pageshot.shot2 {-webkit-transform: translate3d(0, -25px, 0);transform: translate3d(0, -25px, 0); }

/* Background Element */
.bg-element {background-repeat: no-repeat; background-position: center center; background-size: cover;}


/* updates.css v1.2 */